/* make font arial */
body {
	font-family: Arial;
}

/* center text */
.centered {
	text-align: center;
	clear: both;
	
}

/* column attributes*/

/*60% column*/
.column1 {
	float: left;
	width: 60%;
}

/*40% column*/
.column2 {
	float: left;
	width: 40%;
}

/* frame */
#frame {
	width: 500px;
	height: 500px;
	margin-left: 50px;
}

/* line features */
line {
	stroke: black;
	stroke-width: 10;
}
/* border class */
.addBorder {
	stroke: pink;
	stroke-width: 4;
}

/* hover color */
circle:hover {
	fill: orange;
}
/* new point */
.new-point {
  line-height: 2.0;
}

#cx {
  width: 38ch;
}

#cy {
  width: 38ch;
}